applypatch-msg.sample
bitonic
bubble
cocktail
commit-msg.sample
counting
deck
deck_1
fsmonitor-watchman.sample
heap
insertion
merge
post-update.sample
pre-applypatch.sample
pre-commit.sample
pre-merge-commit.sample
prepare-commit-msg.sample
pre-push.sample
pre-rebase.sample
pre-receive.sample
push-to-checkout.sample
quick
quick_hoare
radix
selection
shell
update.sample
